In [42]:
# Import Libraries
import sqlite3
import pandas as pd
import numpy as np

In [43]:
# Create database
db = sqlite3.connect("transactions.db")

# Connect to database
con = sqlite3.connect("/Users/DJ/E-Commerce-Recommendations/transactions.db")

In [44]:
# Load txt files into pandas and separate columns
adhesiveSealantTrans = pd.read_csv("/Users/DJ/E-Commerce-Recommendations/e-comm-data/Transactions with A&S.txt",sep='\t', header=0)
allTransaction = pd.read_csv("/Users/DJ/E-Commerce-Recommendations/e-comm-data/All Transations - 2 Weeks.txt", sep='\t', header=0)

In [45]:
# Check dataframes
adhesiveSealantTrans.head(5)

,order_number,l1,l2,l3,sku,brand
0,1182478,"Adhesives, Sealants and Tape",Putties,Putties,122821,2180
1,63908,"Adhesives, Sealants and Tape",Caulks,Caulks and Sealants,276172,1054
2,1165840,"Adhesives, Sealants and Tape",Concrete and Asphalt,Concrete Cleaners and Sealers,110119,4326
3,928748,Material Handling,Casters and Wheels,Plate Casters,71052,1793
4,1088891,"Adhesives, Sealants and Tape",Glues and Cements,Retaining Compounds,251285,2515

In [46]:
allTransaction.head(5)

,order_number,l1,l2,l3,sku,brand
0,168266,Power Tools,Power Saws and Accessories,Reciprocating Saw Blades,265105,2768
1,123986,Safety,Spill Control Supplies,Temporary Leak Repair,215839,586
2,158978,Hardware,Door Hardware,Thresholds,284756,1793
3,449035,"Electronics, Appliances, and Batteries",Batteries,Standard Batteries,12579,1231
4,781232,Motors,General Purpose AC Motors,General Purpose AC Motors,194681,2603

## Exploratory  Analysis

### SQL Queries

In [47]:
# Move dataframes to sql tables in transactions.db
adhesiveSealantTrans.to_sql("aNs_transactions", con, if_exists="replace", index=False)
allTransaction.to_sql("all_trans", con, if_exists="replace", index=False)

In [48]:
# The case study states the data was "sanitized", but let's make sure
# Check aNs_transactions for missing data
print("Adhesive & Sealant Missing Data")
print("Brand", pd.read_sql_query("SELECT CAST(SUM(CASE WHEN brand is NULL THEN 1 ELSE 0 END) as float)/COUNT(*) as ProportionMissing FROM ans_transactions;", con))
print("Sku", pd.read_sql_query("SELECT CAST(SUM(CASE WHEN sku is NULL THEN 1 ELSE 0 END) as float)/COUNT(*) as ProportionMissing FROM ans_transactions;", con))
print("L1", pd.read_sql_query("SELECT CAST(SUM(CASE WHEN l1 is NULL THEN 1 ELSE 0 END) as float)/COUNT(*) as ProportionMissing FROM ans_transactions;", con))
print("L2", pd.read_sql_query("SELECT CAST(SUM(CASE WHEN l2 is NULL THEN 1 ELSE 0 END) as float)/COUNT(*) as ProportionMissing FROM ans_transactions;", con))
print("L3", pd.read_sql_query("SELECT CAST(SUM(CASE WHEN l3 is NULL THEN 1 ELSE 0 END) as float)/COUNT(*) as ProportionMissing FROM ans_transactions;", con))

# Check all_trans for missing data
print("\nAll Transactions Missing Data")
print("Brand", pd.read_sql_query("SELECT CAST(SUM(CASE WHEN brand is NULL THEN 1 ELSE 0 END) as float)/COUNT(*) as ProportionMissing FROM all_trans;", con))
print("Sku", pd.read_sql_query("SELECT CAST(SUM(CASE WHEN sku is NULL THEN 1 ELSE 0 END) as float)/COUNT(*) as ProportionMissing FROM all_trans;", con))
print("L1", pd.read_sql_query("SELECT CAST(SUM(CASE WHEN l1 is NULL THEN 1 ELSE 0 END) as float)/COUNT(*) as ProportionMissing FROM all_trans;", con))
print("L2", pd.read_sql_query("SELECT CAST(SUM(CASE WHEN l2 is NULL THEN 1 ELSE 0 END) as float)/COUNT(*) as ProportionMissing FROM all_trans;", con))
print("L3", pd.read_sql_query("SELECT CAST(SUM(CASE WHEN l3 is NULL THEN 1 ELSE 0 END) as float)/COUNT(*) as ProportionMissing FROM all_trans;", con))

Adhesive & Sealant Missing Data
Brand    ProportionMissing
0                0.0
Sku    ProportionMissing
0                0.0
L1    ProportionMissing
0                0.0
L2    ProportionMissing
0                0.0
L3    ProportionMissing
0                0.0

All Transactions Missing Data
Brand    ProportionMissing
0                0.0
Sku    ProportionMissing
0                0.0
L1    ProportionMissing
0                0.0
L2    ProportionMissing
0                0.0
L3    ProportionMissing
0                0.0

In [49]:
# See what items sell the most with same transaction as adhesives and sealants, top 30 to find 3 different complement categories
pd.read_sql_query("SELECT l1,l2, l3, COUNT(sku) FROM ans_transactions GROUP BY sku ORDER BY COUNT(sku) DESC LIMIT 30;", con)

# Batteries are the most sold sku that are not in adhesives and sealants category, followed by hand wipes, gloves, and 
# paper towels. This makes batteries, cleaning supplies, and safety items the most purchased complements.

,l1,l2,l3,COUNT(sku)
0,"Adhesives, Sealants and Tape",Tapes,Electrical Tapes,33186
1,"Electronics, Appliances, and Batteries",Batteries,Standard Batteries,20845
2,"Electronics, Appliances, and Batteries",Batteries,Standard Batteries,18142
3,"Adhesives, Sealants and Tape",Thread and Gasket Sealants,Pipe Sealant Tape,10161
4,"Adhesives, Sealants and Tape",Tapes,Duct and Cloth Tapes,9364
5,"Adhesives, Sealants and Tape",Tapes,Duct and Cloth Tapes,7910
6,"Adhesives, Sealants and Tape",Thread and Gasket Sealants,Pipe Sealant Tape,7609
7,"Adhesives, Sealants and Tape",Tapes,Electrical Tapes,7060
8,"Electronics, Appliances, and Batteries",Batteries,Standard Batteries,6771
9,"Adhesives, Sealants and Tape",Tapes,Electrical Tapes,6494
10,"Adhesives, Sealants and Tape",Thread and Gasket Sealants,Pipe Sealant Tape,6266
11,"Adhesives, Sealants and Tape",Thread and Gasket Sealants,Threadlockers,5930
12,"Adhesives, Sealants and Tape",Tapes,Electrical Tapes,5753
13,"Electronics, Appliances, and Batteries",Batteries,Standard Batteries,5671
14,"Electronics, Appliances, and Batteries",Batteries,Standard Batteries,5214
15,"Adhesives, Sealants and Tape",Tapes,Duct and Cloth Tapes,5211
16,"Adhesives, Sealants and Tape",Glues and Cements,Spray Adhesives,4945
17,"Adhesives, Sealants and Tape",Tapes,Electrical Tapes,4923
18,"Adhesives, Sealants and Tape",Tapes,Electrical Tapes,4871
19,"Adhesives, Sealants and Tape",Tapes,Electrical Tapes,4513
20,"Adhesives, Sealants and Tape",Tapes,Electrical Tapes,4276
21,"Adhesives, Sealants and Tape",Tapes,Electrical Tapes,4211
22,"Adhesives, Sealants and Tape",Tapes,Masking Tapes,3945
23,Cleaning,Rags and Wipes,Body and Hand Wipes,3744
24,"Adhesives, Sealants and Tape",Thread and Gasket Sealants,Threadlockers,3660
25,Safety,Gloves and Hand Protection,Disposable Gloves,3598
26,Cleaning,Paper Products and Dispensers,"Paper Towels, Rolls",3323
27,Safety,Eye Protection and Accessories,Lens Cleaning Stations,3297
28,Safety,Traffic Safety,"Barrier, Flagging and Underground Tapes",3294
29,"Adhesives, Sealants and Tape",Glues and Cements,Epoxy,3251

In [50]:
# See what are top 10 items in ALL transactons
pd.read_sql_query("SELECT l1,l2, l3, COUNT(sku) FROM all_trans GROUP BY sku ORDER BY COUNT(sku) DESC LIMIT 10;", con)

# Batteries are most sold item, followed by paper cleaning products and air filters

,l1,l2,l3,COUNT(sku)
0,"Electronics, Appliances, and Batteries",Batteries,Standard Batteries,9234
1,"Electronics, Appliances, and Batteries",Batteries,Standard Batteries,7408
2,Safety,Footwear and Footwear Accessories,Socks,5721
3,Cleaning,Paper Products and Dispensers,"Paper Towels, Rolls",4965
4,"Electronics, Appliances, and Batteries",Batteries,Standard Batteries,4210
5,HVAC and Refrigeration,Air Filters,Pleated Air Filters,3261
6,HVAC and Refrigeration,Air Filters,Pleated Air Filters,3169
7,Cleaning,Paper Products and Dispensers,Toilet Paper,2955
8,HVAC and Refrigeration,Air Filters,Pleated Air Filters,2933
9,"Electronics, Appliances, and Batteries",Batteries,Standard Batteries,2831

### Pandas Exploration

In [51]:
# Check data types
print(" Adhesive & Sealant Data\n", adhesiveSealantTrans.dtypes)
print("\n All Transactions Data\n", allTransaction.dtypes)

 Adhesive & Sealant Data
 order_number     int64
l1              object
l2              object
l3              object
sku              int64
brand            int64
dtype: object

 All Transactions Data
 order_number     int64
l1              object
l2              object
l3              object
sku              int64
brand            int64
dtype: object

In [52]:
# See unique values for all features
print(" Adhesive & Sealant Data\n", adhesiveSealantTrans.nunique())
print("\n All Transactions Data\n", allTransaction.nunique())

 Adhesive & Sealant Data
 order_number    479917
l1                  33
l2                 586
l3                5771
sku             224423
brand             4296
dtype: int64

 All Transactions Data
 order_number    801575
l1                  33
l2                 593
l3                6203
sku             275958
brand             4574
dtype: int64

In [53]:
# Which Sku's are most popular?
aNs_skuCount = pd.DataFrame(adhesiveSealantTrans.groupby('sku')['order_number'].count())
print("Adhesives & Sealants\n", aNs_skuCount.sort_values('order_number', ascending=False).head())

all_skuCount = pd.DataFrame(allTransaction.groupby('sku')['order_number'].count())
print("\nAll Transactions\n", all_skuCount.sort_values('order_number', ascending=False).head())

Adhesives & Sealants
         order_number
sku
100164         33186
282471         20845
282473         18142
265850         10161
309746          9364

All Transactions
         order_number
sku
282471          9234
282473          7408
154210          5721
184171          4965
282469          4210

In [54]:
# Which items are these?
aNsItems = adhesiveSealantTrans[['sku', 'l3']]
print("Adhesives & Sealants\n", aNsItems.head())

allItems = allTransaction[['sku', 'l3']]
print("\nAll Transactions\n", allItems.head())

print("\nTop 5 Adhesive & sealant Items")
print(aNsItems[aNsItems['sku']==100164].head(1))
print(aNsItems[aNsItems['sku']==282471].head(1))
print(aNsItems[aNsItems['sku']==282473].head(1))
print(aNsItems[aNsItems['sku']==265850].head(1))
print(aNsItems[aNsItems['sku']==309746].head(1))

print("\nTop 5 All Items")
print(allItems[allItems['sku']==282471].head(1))
print(allItems[allItems['sku']==282473].head(1))
print(allItems[allItems['sku']==154210].head(1))
print(allItems[allItems['sku']==184171].head(1))
print(allItems[allItems['sku']==282469].head(1))

#Batteries are most popular sku in both dataframes

Adhesives & Sealants
       sku                             l3
0  122821                        Putties
1  276172            Caulks and Sealants
2  110119  Concrete Cleaners and Sealers
3   71052                  Plate Casters
4  251285            Retaining Compounds

All Transactions
       sku                         l3
0  265105   Reciprocating Saw Blades
1  215839      Temporary Leak Repair
2  284756                 Thresholds
3   12579         Standard Batteries
4  194681  General Purpose AC Motors

Top 5 Adhesive & sealant Items
        sku                l3
100  100164  Electrical Tapes
       sku                  l3
84  282471  Standard Batteries
        sku                  l3
129  282473  Standard Batteries
        sku                 l3
485  265850  Pipe Sealant Tape
        sku                    l3
492  309746  Duct and Cloth Tapes

Top 5 All Items
        sku                  l3
473  282471  Standard Batteries
        sku                  l3
389  282473  Standard Batteries
         sku     l3
3772  154210  Socks
        sku                   l3
241  184171  Paper Towels, Rolls
       sku                  l3
92  282469  Standard Batteries

## Building a recommendation system

Given the limited amount of data available, we will use collaborative filtering using the items in each order number to score the similarity of each item based on which ones are purchased together and generate recommendations based on the similarity score.

The recommendation system will be created with allTransactions dataframe and then tested with sku's from adhesiveSealantTrans dataframe to see what is recommended.

### Prepare Data

Group by order number and drop less than 10

In [55]:
# Check shape before dropping rows
allTransaction.shape

(2107537, 6)

In [56]:
# Group orders
grouped = allTransaction.groupby('order_number')

In [57]:
# Filter out orders that have less than 10 items
allTransaction = grouped.filter(lambda x: len(x)>10)

In [58]:
# Check shape after dropping rows
allTransaction.shape

(499972, 6)

In [59]:
# allTransaction['sku'].head()

In [60]:
# Drop most broad categories and keep most granular
allTransaction.drop('l1', axis=1, inplace=True)
allTransaction.drop('l2', axis=1, inplace=True)

In [61]:
# one-hot encode columns
allTransaction = pd.get_dummies(allTransaction)
allTransaction.head()

,order_number,sku,brand,l3_12 Volt Accessories,l3_12-Point Flange Head Cap Screws,l3_3-Ring Binder Accessories,l3_3-Ring Binders,l3_3.3 Inch Diameter Motors,l3_4.4 Inch Diameter Motors,l3_5 X 20mm Glass and Ceramic Fuses,...,l3_Worm Gear Clamps,l3_Wrap-a-Round Tape Measures,l3_Wrist Rests and Palm Supports,l3_Wrist Supports and Wraps,l3_Y Strainers,l3_Yard Hydrants,l3_Yoke Ends,l3_Zone Valve Actuators,l3_Zone Valves,l3_pH Meters
22,173984,46841,1726,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37,649979,299689,2163,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
58,482732,38789,4477,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
64,173984,264751,3712,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
66,339808,292307,4572,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [62]:
# Shape after 
allTransaction.shape

(499972, 4463)

In [63]:
# Drop sku and brand because they do not have enough info to be useful
allTransaction.drop('sku', axis=1, inplace=True)
allTransaction.drop('brand', axis=1, inplace=True)

In [64]:
grouped = allTransaction.groupby('order_number')

In [67]:
# Consolidate data by joining order numbers and summing other data 
data_cols = list(allTransaction.columns)
data_cols.remove('order_number')
allTransaction = allTransaction.groupby('order_number').sum()[data_cols].reset_index()

In [69]:
allTransaction.shape

(25720, 4461)

## Create recommendation engine

In [ ]:
# Create a similarity matrix

In [ ]:
# Score "users"

In [ ]:
# Generate recs

In [ ]:
# Save

In [ ]:
# Print